nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C2C7B;
    width: 100%;
    color: white
}

h1{
    margin-left: 20px;
}  

.buttons{
    width: 20%;
    display: flex;
    justify-content: flex-end;  
}

a{  
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.activa{
    text-decoration: underline;
}