.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1;

  h1{
    font-size: 3rem;
  }

  p{
    color: red;
    font-size: 1rem;
    margin: 2px 0;
  }

  label{
    font-size: 2rem;
  }

  input{
    font-size: 1.5rem;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(146, 155, 190);
    color: white;
  }

  button{
    font-size: 2rem;
  }

}

.inputs{
  margin-bottom: 0.5rem;
}

button:disabled{
  background-color: brown;
}